<footer class="b-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <ul class="b-social list-inline">
                        <li>
                            <a href="#"><i class="icon-github"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-twitter"></i></a>
                        </li>
                    </ul>

                    <p>&copy; 2016 build by <a href="#">John Doe</a></p>
                </div>
            </div><!--col-->
        </div><!--row-->
    </div><!--container-->
</footer>