<section class="b-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Blog Post Title {{ vm.postTitle }}</h1>
                <p class="lead">
                    by <a href="#">Start Bootstrap</a>
                </p>
                <hr>
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/1920x500" alt="">
                <hr>
                <p class="lead">
                    {{ vm.postData.title }}
                </p><!--lead-->

                <p>
                    {{ vm.postData.body }}
                    {{ vm.postData.body }}
                    {{ vm.postData.body }}
                    {{ vm.postData.body }}
                </p>
                <hr>
                <div class="well">
                    <h4>Leave a Comment:</h4>

                    <form ng-submit="vm.addComment(vm.postText)">
                        <div class="form-group">
                            <textarea class="form-control" ng-model="vm.postText"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div><!--well-->
                <hr>

                <div class="w-comments">
                    <div class="b-comment media" ng-repeat="comment in vm.commentData">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">
                                {{ comment.email }}
                            </h3>
                            <h4>{{ comment.name }}</h4>

                            {{ comment.body }}
                        </div>
                    </div><!--b-comment-->
                </div><!--w-comments-->
            </div><!--col-->
        </div><!--row-->
    </div><!--container-->
</section><!--b-content-->