<section class="b-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-header">
                    {{ vm.pageTitle }}
                    <small>Secondary Text</small>
                </h1>

                <div class="b-post" ng-repeat="post in vm.posts">
                    <h2>
                        <a ui-sref="post({id: post.id})">
                            {{ post.title }}
                        </a>
                    </h2>
                    <p class="lead">
                        by <a href="#">Start Bootstrap</a>
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-time"></span>
                        Posted on August 28, 2013 at 10:00 PM
                    </p>
                    <hr>
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <hr>
                    <p>
                        {{ post.body }}
                    </p>
                    <a class="btn btn-primary" ui-sref="post({id: post.id})">
                        Read More
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <hr>
                </div><!--b-post-->

                <div class="text-center">
                    <button class="btn btn-danger" type="button" ng-click="vm.getMorePosts()">
                        Load more
                    </button>
                </div>
            </div><!--col-->

            <div class="col-md-4">
                <sidebar></sidebar>
            </div><!--col-->
        </div><!--row -->
    </div><!--container-->
</section><!--b-content-->